<!-- show a specific question's answers, etc -->
<h1><em><%= @questions.title %> </em></h1>
<p> <%= @questions.body %> </p>

<!-- question body -->




<% if @answers %>
  <br>
  <h3>Answers:</h3>
  <% @answers.each do |answer| %>
    <!-- <p>answers (author)</p> -->
    <p><%= answer.answer %> (<%= answer.answerer.username %>)</p>
    <% if current_user.try('id') == answer.try('answerer').id %>
      <form method='post' action='/answers'>
        <input type='hidden' name='_method' value='delete'>
        <input type='hidden' name='answer_id' value='<%= answer.id %>'>
        <button type='submit'>Delete</button>

      </form>
    <% end %>
  <% end %>
<% end %>



<!-- add delete button for answers (edit stretch) -->
<!-- need BEST ANSWER. -->
