<!-- show a specific question's answers, etc -->
<% current_user = User.find(8) %>
<% session[:user_id] = 8 %>
<div id="parent">
  <form method="post" class="voteableform" action="/votes">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" class="vid" name="question_id" value="<%= @questions.id %>">
    <input type="hidden" class="votabletype" name="vote[voteable_type]" value="Question">
    <input type="hidden" name="vote[voteable_id]" value="<%= @questions.id %>">
    <input type="hidden" name="vote[voter_id]" value="<%=current_user.id%> ">
   <input class="votebutton" type="submit" value="<%= @questions.votes.count %> votes" style="color: green">
 </form>

<h1><em>  <%= @questions.title %> (<%= @questions.user.username %>) </em></h1>
<p><%= @questions.body %> </p>
<!-- <p class><%=@questions.votes.count%> upvotes</p> -->
<!-- comments on question -->

<!-- new question form -->
<%= erb :'_errors' %>

<!-- make this into a partial: -->
<% if logged_in? %>
  <a href='/questions/<%= @questions.id%>/comments/new'> Add a comment</a>
<% end %>

<!-- add comment to question: -->

<h3>Question Comments:</h3>
  <% if @questions.comments %>
    <% @questions.comments.each do |comment| %>
    <div class='right container'>
      <p><%= comment.text %> (<%= comment.commenter.username %>)</p>

      <% if current_user.try('id') == comment.try('commenter').id %>
        <form method='post' action='/comments/<%= comment.id %>'>
          <input type='hidden' name='_method' value='delete'>
          <input type='hidden' name='comment_id' value='<%= comment.id %>'>
          <input type='hidden' name='question_id' value='<%= @questions.id %>'>
          <button type='submit'>Delete</button>
        </form>
      <% end %>
      </div>
    <% end %>
  <% end %>

<br>
<h3>Answers:</h3>
<!-- add new answer here -->
<% if logged_in? %>
  <a href='/questions/<%= @questions.id%>/answers/new'> Add an answer</a>
<% end %>


<% if @answers %>
  <% @answers.each do |answer| %>
  <div class="container">
    <!--UPVOTE DEAR GOD-->
      <form id="answer" class="voteableform" method="post" action="/votes" >
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="question_id" value="<%= @questions.id %>">
        <input type="hidden" class="votabletype" name="vote[voteable_type]" value="Answer">
        <input type="hidden" class="vid" name="vote[voteable_id]" value="<%= answer.id %>">
        <input type="hidden" name="vote[voter_id]" value="<%=current_user.id%> ">
        <input class="votebutton" type="submit" value="<%=answer.votes.count %> votes" style="color: green">
      </form>


    <p><%= answer.answer %> (<%= answer.answerer.username %>) : <%= answer.votes.count%> upvotes</p>
    <br>


    <!-- delete button -->
    <% if current_user.try('id') == answer.try('answerer').id %>
      <form method='post' action='/answers'>
        <input type='hidden' name='_method' value='delete'>
        <input type='hidden' name='answer_id' value='<%= answer.id %>'>
        <button type='submit'>Delete</button>
      </form>
    <% end %>
      <!-- comments for answers -->
      <% if answer.comments %>
          <p>Comments:</p>
          <% answer.comments.each do |comment| %>
          <div class="right">
          <!--UPVOTE DEAR GOD-->


          <form method="post" class="voteableform" action="/votes">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="question_id" value="<%= @questions.id %>">
            <input type="hidden" class="votabletype"name="vote[voteable_type]" value="Comment">
            <input type="hidden" class="vid"name="vote[voteable_id]" value="<%= comment.id %>">
            <input type="hidden" name="vote[voter_id]" value="<%=current_user.id%> ">
              <input class="votebutton" type="submit" value="<%=comment.votes.count %> votes" style="color: green">
          </form>
          <p><%= comment.text %> (<%= comment.commenter.username %>) : <%= comment.votes.count%> upvotes</p>
          <br>

            <% if current_user.try('id') == comment.try('commenter').id %>
              <form method='post' action='/comments/<%= comment.id %>'>
                <input type='hidden' name='_method' value='delete'>
                <input type='hidden' name='comment_id' value='<%= comment.id %>'>
                <input type='hidden' name='question_id' value='<%= answer.id %>'>
                <button type='submit'>Delete</button>
              </form>
            <% end %>
          </div>

          <% end %>

      <% end %>

    <a href='/answers/<%= answer.id%>/comments/new'> Add a comment</a>
    </div>
  <% end %> <!-- should be end of .each -->

<% end %>
</div>


<!-- need BEST ANSWER. -->
<!-- could make into nice list -->
<!-- add upvotes thing -->
