<!-- show a specific question's answers, etc -->
<h1><em><%= @questions.title %> (<%= @questions.user.username %>) </em></h1>
<p> <%= @questions.body %> </p>

<!-- comments on question -->






<!-- new question form -->
<%= erb :'_errors' %>

<!-- make this into a partial: -->
<% if logged_in? %>
  <a href='/questions/:id/comments/new'> Add a new comment here.</a>

<% end %>

<!-- add comment to question: -->
<h5> PUSH THESE COMMENTS OVER >:( </h5>
<div class='right'>
<h3>Question Comments:</h3>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p><%= comment.text %> (<%= comment.commenter.username %>)</p>
      <% if current_user.try('id') == comment.try('commenter').id %>
        <form method='post' action='/comments'>
          <input type='hidden' name='_method' value='delete'>
          <input type='hidden' name='answer_id' value='<%= comment.id %>'>
          <button type='submit'>Delete</button>
        </form>
      <% end %>
    <% end %>
  <% end %>
</div>





<br>
<h3>Answers:</h3>
<% if @answers %>
  <% @answers.each do |answer| %>
    <p><%= answer.answer %> (<%= answer.answerer.username %>)</p>
    <% if current_user.try('id') == answer.try('answerer').id %>
      <form method='post' action='/answers'>
        <input type='hidden' name='_method' value='delete'>
        <input type='hidden' name='answer_id' value='<%= answer.id %>'>
        <button type='submit'>Delete</button>

      </form>
    <% end %>
  <% end %>
<% end %>


<!-- add answers -->
<!-- add comment button for both -->
<!-- questions.comments on question -->
<!-- answers.comments on answers -->

<!-- add delete button for answers (edit stretch) -->
<!-- need BEST ANSWER. -->
<!-- could make into nice list -->
<!-- add upvotes thing -->
